.teamOutstanding{
    position: relative;
    top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* object-fit: contain; */
    animation-name: unselectSlide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border-radius: 15px;

}
.teamOutstanding:hover{


    animation-name: selectSlide ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes selectSlide {
    100%{
        transform: translate(-20%);
    }
}
@keyframes unselectSlide {
    0%{
        transform: translate(-20%);
    }
    100%{
        transform: translate(0);
    }
}