.coverContainerL2{
display: flex;
flex-direction: column;
align-items: center;
}
.coverImgL2{
    width: 100%;
}
.plansContainerL2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gradesContainer{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}