.aboutContainer{
    display: flex;
    justify-content: center;
}
.aboutVideoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.aboutVideo{
    width: 50%;
}

@media (max-width: 700px) {
    .aboutVideo{
        width: 100%;
    }

    
}