.landingContainer{
    /* position: relative;
    top: 100px; */
    width: fit-content;
    background-color: #fcfdff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
    
}
.karateCover{
    object-fit: cover;
    width: 35%;
    height: 350px;
    margin: 10px;
    animation-name: decreaseImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor:pointer;

    
}
.karateCover:hover{
    object-fit: cover;
    animation-name: growImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    /* height: 100%; */

    
}
.leyendaCover{
    display: flex;
    position: inherit;
    top: 100px;
    color: yellow;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor:pointer;

    
    
    /* position: fixed; */
    /* background-color: red; */
    /* left: 50%; */
    
}
.bannerContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
@keyframes growImage {
    100%{
        width: 50%;
    }
}
@keyframes decreaseImage {
    0%{
        width: 50%
    }
    100%{
        width: 35%;
    }
}
@keyframes decreaseImageMobile {
    0%{
        width:50% ;
    }
    100%{
        width: 100%;
    }
}

@media (max-width: 700px) {
    .karateCover{

        width: 100%;
        animation-name: decreaseImageMobile;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .karateCover:hover{
        width: 100%;
        margin: 10px;
    }
    .landingContainer{
        justify-content: flex-end;
    }
    .leyendaCover{
        position: inherit;
    }
}